#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vmin;
}

#text-container {
    margin: 0 15vmin;
}

#lauren-img {
    width: 35vmin;
    border-radius: 100%;
    border: solid 1vmin #D96236;
}

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d98262db;
    padding: 0 10vmin 5vmin 10vmin;
    border-radius: 5px;
    margin: 5vmin 0;
    width: auto;
}

#skills ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    gap: 10vmin;
    margin: 0;
    padding: 0;
}

#skills img {
    height: 8vmin;
}

@media screen and (max-width: 768px) {
    #skills ul {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
        list-style: none;
        gap: 10vmin;
        margin: 0;
        padding: 0;
    }

    #skills img {
        width: 8vmin;
        height: auto;
    }

    #about button {
        font-size: 6vmin;
    }

    #text-container {
        margin: 0 5vmin;
    }
}