.keen-slider img {
    width: 80vmin;
    height: 50vmin;
}

.thumbnail-container {
    display: flex;
}

.thumbnail-container img {
    height: 20vmin;
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 70vmin;
}