body {
    height: 100vh;
    font-family: 'Heebo', sans-serif;
    background-color: #F9F7E9;
}

h1, h2, h3, h4 {
    color: #30130C;
}

#section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container {
    margin: 5vmin;
}